body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cambioBotonSolo{
  width: 100%;
  height: 100%;  
}
.contorno{
  border-radius: 10%;
  padding: 5%;
  border: 1px solid;
}

.relleno{
  border-radius: 6px;
  border: none;
  width: 100%;
  height: 100%;
  background: #f60057;
  font-size: 30px;
  height: 81px;
  cursor: pointer;
}

.relleno:hover{
  border: none;
}


